* {
    font-family: Montserrat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    letter-spacing: 0px;
    z-index: 1;
}
 
.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
 
.frame {
    position: relative;
    width: 390px;
    height: 844px;
    border-radius: 45px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}
 
.banap-vetor{
    position: absolute;
    z-index: 0;
}
 
.banap-vetor.cima {
    top: 10px;
    left: 10px;
}
 
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
}
 
.content.div-1 {
    width: 330px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
.container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
 
.banap-title {
    width: 330px;
    color: #1A5D1A;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
}
 
.content.div-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
 
/* .date {
    display: flex;
    align-items: center;
    width: 330px;
    height: 0px;
}
 
.date h2{
    color: #0F0E17;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 
.date b {
    color: #1A5D1A;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
} */
 
.analysis {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 114px;
    background: #ffffff;
    border-radius: 11.694px;
    box-shadow: 0px 2px 8px 0px #E5E5E5;
}
 
.analysis h2 {
    color: #1A5D1A;
    text-align: justify;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}
 
.analysis h3 {
    margin-top: 15px;
    margin-left: 10px;
    color: #1A5D1A;
    text-align: justify;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
}
 
.result {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 27px;
    border-radius: 0px 10px 10px 10px;
    background-color: #1EA81E;
}
 
.result h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}